<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>-->

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>true</includeCallerData>
        </encoder>
    </appender>
    <logger name="org.apache.http.wire" level="INFO" />
    <logger name="org.apache.http.headers" level="ERROR" />
    <logger name="org.apache.http.impl.execchain.MainClientExec" level="ERROR" />
    <logger name="org.apache.http.client.protocol" level="ERROR" />
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="json" />
    </root>

</configuration>